doctype html
html
    head
        meta(name='viewport', content='width=device-width, initial-scale=1')
        title=title 
        link(rel='stylesheet', href='/css/style.css')
        script(src='/js/index.js')
    body 
        block content
            form(action='/admin/add/account', method='post')
                input(type="text", name="username", placeholder="Username", required)
                br
                input(type="password", name="password", placeholder="Password", required)
                br
                select(name="role", onchange='showFaculty()', id='role', required)
                    option(value="None", disabled="true") --Choose a Role--
                    option(value="Administrator") Administrator
                    option(value="Manager") Manager
                    option(value="Coordinator") Coordinator
                    option(value="Student") Student
                    option(value="Guest") Guest
                br
                input(type="text", name="faculty", placeholder="Faculty", style="display:none", id='faculty')
                h3 Personal Information
                input(type="text", name="firstname", placeholder="First Name")
                br
                input(type="text", name="middlename", placeholder="Middle Name")
                br
                input(type="text", name="lastname", placeholder="Last Name")
                br
                input(type="date", name="dob", placeholder="Date of Birth")
                br
                input(type="email", name="email", placeholder="Email")
                br
                input(type="tel", name="phone", placeholder="Phone number: 10 numbers", pattern="[0-9]{10}")
                br
                button(type="submit") Create
                br
                span=message
        block footer 
            a(href='/admin/account') Back